<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Practice</title>
    <link rel="stylesheet" href="css/practice-style.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      class="header__nav"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"
    ></header>
    <main>
      <section
        class="index__hero"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.hero.partial.html"
      ></section>
    </main>
    <footer class="footer">
      <div
        class="footer__container"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></div>
    </footer>
    <script src="./js/index.js"></script>
  </body>
</html>
